@import "App.css";
@import "index.css";
@import "./pages/Login.css";
@import "./composant/nav-activites.css";
@import "./composant/nav-inscriptions.css";
@import "./sections/section-activites.css";
@import "./sections/section-activites-ajouter.css";
@import "./sections/section-inscriptions.css";
@import "./sections/section-inscriptions-validees.css";
@import "./sections/section-inscriptions-refusees.css";
@import "./sections/section-activites-modifier.css";
@import "./sections/section-activites-supprimer.css";
@import "./composant/confirm-alert-custom.css";

:root {
  --main-color: #08415c;
  --main-color-dark: #04293a;
  --gray-color-dark: #6b6b6b;
  --text-color: white;
  --background-light: #def9ff;
  --background-dark: #f0f0f0;
  --background-extra-dark: #d3d3d3;

  --color-green: #28af45;
  --color-red: #b42e2e;

  --container-width: 80%;
  --container-max-width: 800px;
  --button-radius: 25px;
  --border-radius: 8px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --font-title: "Unbounded", sans-serif;
  --font-text: "Raleway", system-ui;
}
