@media screen and (max-width: 768px) {
  // HEADER
  .burger-menu {
    display: block;
  }

  .hd-flex {
    display: none;
  }

  .sliding-menu {
    display: none;
    transition: all 0.25s ease;
    transition-behavior: allow-discrete;
  }

  .sliding-menu.active {
    display: block;
    transition-behavior: allow-discrete;
    transition: all 0.25s ease;
  }

  // FOOTER

  footer {
    height: fit-content;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }
  #page1 {
    .arrow {
      font-size: 5em;
    }
  }

  #page2 .container {
    margin-top: 20px;
  }

  /* Deuxième slide */
  #page2 {
    display: flex;
    align-items: center;
    width: 100vw;
    overflow-x: hidden !important;
    .titre {
      width: 100%;
    }
    h2.titre-pr {
      font-size: 2em;
      text-align: center;
      margin-bottom: 0;
    }

    h2.titre-sc {
      font-size: 1.5em;
      text-wrap: wrap;
      text-align: center;
    }
  }

  .description-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    margin: 20px auto;
  }

  .description {
    display: flex;
    align-items: center;
  }

  .description-text {
    min-height: fit-content;
    margin-right: 0px;
    padding: 20px;
  }

  .pa-container-grp {
    flex-direction: column;
    width: calc(100vw - 40px);

    .ctg {
      width: 100% !important; // Force 100% width
      height: 300px; // Hauteur fixe pour mobile
      margin-bottom: 20px;

      & p {
        opacity: 1;
      }

      &::after {
        opacity: 1;
        transform: translateY(-90%);
      }
    }
  }

  .pa-container-qsn {
    padding: 0 40px;
    width: 100%;
  }

  .pa-container-qsn .texte-qsn {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .pa-container-qsn img {
    width: 70vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .trait {
    display: none;
  }

  .zone-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    width: 100%;

    .info-contact {
      flex-direction: row;
    }

    .div-iframe {
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;
      width: 100%;
      border-radius: 15px;
      iframe {
        height: 100%;
      }
    }
  }

  .logo {
    display: none;
  }

  .zone-contact .info-contact {
    width: auto;
    padding: 0;
    font-size: 1.2em;
  }

  .zone-contact .info-contact .info-contact-txt {
    width: max-content;
    margin: 20px auto;
  }

  // PAGE DES INSCRITS

  #inscrits-main {
    width: 100vw;
    padding: 0 20px;
  }

  #inscrits-main #filters {
    flex-direction: column;
  }

  // PAGES DES ACTIVITES

  .activity-container-main {
    width: 100vw;
  }

  .activity-date {
    padding-top: 20px;
  }

  .activity-date,
  .activity-time {
    margin: 0px 35px;
    font-size: 1.2em;
    top: 0%;
    transform: translateY(0%);
    position: relative;
  }

  .register-button {
    position: relative;
    top: 120px;
    left: 35px;
    // min-width: 278px;
    text-align: center;
    transform: translateY(-90px);
  }

  .register-button:hover {
    transform: translateY(-90px);
  }

  .activity-container {
    padding: 0 20px 75px;
    width: calc(100vw - 40px);
  }

  // FORMULAIRE D'INSCRIPTIONS

  .form-container {
    width: calc(100vw - 40px);
    margin: 0 auto;
    padding: 20px;
  }

  .form-container button {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: fit-content;
    margin: 20px;
    margin-left: -10px;
  }

  // SUCCESS MESSAGE

  .container-success {
    padding: 20px 40px;
    max-width: calc(100vw - 40px);
    margin: 25px auto;
    height: 48vh;
  }

  .container-success a.home-button {
    margin: 20px 0;
  }

  // CONTACT FORM

  .contact-container {
    margin: 25px auto;
    padding: 20px;
    width: calc(100vw - 40px);

    .map-container {
      display: none;
    }
  }

  .contact-form {
    margin-bottom: 0;
  }

  .contact-form button {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: fit-content;
    margin: 0;
    margin-left: -15px;
  }
}
