@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #f8f9fa;
    --border-radius-1: 30px;
    --font-family-1: "Raleway", sans-serif;
}
