/* Formulaire */
.form-container {
  background-color: var(--main-color);
  padding: 40px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
}

/* Titre */
.form-container h1 {
  margin-bottom: 30px;
  color: var(--text-color);
}

/* Champs de formulaire */
.form-container form {
  display: flex;
  flex-direction: column; /* Alignement vertical des éléments */
  gap: 15px; /* Espacement entre les champs */
}

/* Style des champs d'entrée */
.form-container input {
  padding: 10px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  font-size: 1em;
}

/* Bouton Formulaire */
.form-container button {
  background-color: var(--text-color);
  color: var(--main-color);
  padding: 12px;
  border: none;
  border-radius: var(--button-radius);
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #096191; /* Couleur de fond au survol */
  color: var(--text-color);
}
